@import "cms/bootstrap/bootstrap";
@import "cms/basic";
@import "cms/variables";
@import "cms/select2/select2";

* { font-weight: 300; }

// ------------------------------------------------------------------------------------
// NAVBAR
// ------------------------------------------------------------------------------------
.navbar {
	font-weight: 300;
}

.dropdown-menu {
	a {
		font-weight: 300 !important;
	} 
}